@use "./variables" as *;

.team {
  margin-bottom: 130px;
  h2 {
    margin-top: 130px;
    margin-bottom: 72px;
  }
  &__cards {
    @include flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__card {
    max-width: 608px;
    flex-grow: 1;
    display: flex;
    align-items: center;

    gap: 40px;
    box-shadow: 0px 4px 15px 0px #00000015;
    border-radius: 10px;
    border-left: 40px solid #0b7572;
    padding: 32px;

    h4 {
      @include text-style(600, 20px, 24px, $secondary);
      margin-bottom: 12px;
    }
    p {
      @include text-style(400, 14px, 21px, $primary);
      margin-bottom: 16px;
    }
    hr {
      width: 86px;
      height: 3px;
      border: none;
      background-color: #ffce50;
      margin-bottom: 32px;
    }
    div {
      img {
        margin-right: 20px;
      }
    }
  }
}
